* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* @font-face {
  font-family: 'Poppins', sans-serif;
  src: url();
} */
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
